<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Project_Web_App</title>
</head>

<body style="background-color: lightskyblue; font-family: 'Courier New'">
    <header>
        <h1 style="text-align: center">Anomaly Detection Server</h1>
    </header>
   <form action = "/search" method="post" enctype="multipart/form-data"
         name="searchFrom" target="result" style="background-color: lightseagreen; border-style: double; padding: 10px">
       <table style="width: 45%; float: left; border: 1px solid; padding: 10px">
           <tr>
               <td><input type="file" name="normel_file"></td>
               <td>קובץ טיסה רגילה</td>
           </tr>
           <tr>
               <td><input type="file" name="test_file"></td>
               <td>קובץ טיסה לבדיקה</td>
           </tr>
       </table>
       <div class="listbox-area" style="width: 45%; float: right; border: 1px solid; padding: 10px">
           Detection Types
           <ul id="ss_dete_list" tabindex="0" role="listbox" aria-labelledby="ss_dete"
               style="background-color: #eee; border: 1px solid">
               <li id="ss_dete_A" role="option">
                   op1
               </li>
               <li id="ss_dete_B" role="option">
                   op2
               </li>
           </ul>
       </div>
       <br>
       <div style="text-align: center">
           <input type="submit" value="UPLOAD">
       </div>
   </form>

   <div style="text-align: center">
       <iframe name="result" width="80%" height="500"></iframe>
   </div>

</body>
</html>